* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  width: 85%;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media (max-width:768px) {
  .nav-container {
    width: 90%;
  }
}